<div class="p-4">
    <b>{{ current_topic }}</b>
    <p>Current Rating: {{ current_mmr }}</p>
    
    <div class="has-background-white p-4 mb-4 mt-4" style="border-radius: 10px;">
        <p class="mb-4">{{ text }} (Test case x=4)</p>

        <img [src]="imageURL">

        <p>Current Answer: {{ math }}</p>

    </div>
    {{ current }}

    <div class="p-4">
        <app-quill (mathEvent)="handleMathUpdate($event)"></app-quill>
    </div>
    <div class="mt-4">
        <button class="button" (click)="handleQuestionSubmit()">Submit Answer</button>
    </div>

</div>