<div class="columns">
    <div class="column is-one-quarter has-background-grey-light" style="border-radius: 10px;">
        <div class="is-flex is-justify-content-center">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
            </figure>
        </div>
        <div class="is-flex is-justify-content-center mt-2">
            <p>My Profile</p>
        </div>
    </div>
    <div class="column has-background-grey-light ml-4" style="border-radius: 10px;">
        <div>
            <p>User Stats</p>
        </div>
    </div>
</div>