<section class="hero is-info">
    <div class="hero-body">
      <p class="title">OpenSRM</p>
    </div>
  </section>
<div class="columns mt-4">
    <div class="column is-one-quarter">
        <div class="box">
            <div class="has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                    <img class="is-rounded" [src]="avatar" />
                </figure>
            </div>
            <div class="has-text-centered mt-3">
                <p class="title is-4">{{ active_user }}</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <div class="content">
                <h4>Topics to Study</h4>
                <ul>
                    @for(topic of study_topics; track topic.length) {
                        <li>
                            <a [routerLink]="['/set/', topic]">{{ topic }} (SR: {{ mmr[study_topics.indexOf(topic)] }})</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>